#html5sync_info{
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
#html5sync_debug{
    background: black;
    bottom: 10px;
    color: yellow;
    font-size: 11px;
    max-height: 300px;
    max-width: 700px;
    overflow: auto;
    padding: 5px;
    position: absolute;
    right: 10px;
}
#html5sync_state{
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    text-align: center;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
#html5sync_state.offline{
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    border:1px solid #942911;
    color:#ffffff;
    text-shadow:0px 1px 0px #854629;
}
#html5sync_state.online{
    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
    -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
    box-shadow: 0px 10px 14px -7px #3e7327;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color:#77b55a;
    border:1px solid #4b8f29;
    color:#ffffff;
    text-shadow:0px 1px 0px #5b8a3c;
}
#html5sync_state #state{
    float: left;
    margin: 6px 12px;
}
/*********************************** LOADER ***********************************/
.html5sync_spinner {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    border: 2px solid rgba(255,255,255,0.9);
    border-top-color: transparent;
    border-radius: 100%;
    display: block;
    float: left;
    height: 15px;
    margin: 4px 10px 0 0;
    position: relative;
    width: 15px;
 }
.html5sync_spinner:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border: 4px solid transparent;
    border-bottom-color: rgba(255,255,255,0.9);
    content: '';
    display: block;
    height: 0;
    left: 0px;
    position: absolute;
    transform: rotate(45deg);
    top: -5px;
    width: 0;
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes spin {
    to { -ms-transform: rotate(360deg); }
}
@-o-keyframes spin {
    to { -o-transform: rotate(360deg); }
}
@keyframes spin {
    to { transform: rotate(360deg); }
}






#html5sync_loading{
    width:50px;
    height:4px;
    overflow:hidden;
    background-color:red;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
}
.html5sync_stop_loading{
    background-color:#72b352 !important;
}
.html5sync_loading{
    /*background-color:#72b352;*/
    background-color:#72b352;
    margin-top:0;
    margin-left:-50px;
    -moz-animation-name:bounce_html5sync_loading;
    -moz-animation-duration:1.8s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -webkit-animation-name:bounce_html5sync_loading;
    -webkit-animation-duration:1.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -ms-animation-name:bounce_html5sync_loading;
    -ms-animation-duration:1.8s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-timing-function:linear;
    -o-animation-name:bounce_html5sync_loading;
    -o-animation-duration:1.8s;
    -o-animation-iteration-count:infinite;
    -o-animation-timing-function:linear;
    animation-name:bounce_html5sync_loading;
    animation-duration:1.8s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    width:50px;
    height:4px;
}

@-moz-keyframes bounce_html5sync_loading{
0%{
margin-left:-50px;
}

100%{
margin-left:50px;
}

}

@-webkit-keyframes bounce_html5sync_loading{
0%{
margin-left:-50px;
}

100%{
margin-left:50px;
}

}

@-ms-keyframes bounce_html5sync_loading{
0%{
margin-left:-50px;
}

100%{
margin-left:50px;
}

}

@-o-keyframes bounce_html5sync_loading{
0%{
margin-left:-50px;
}

100%{
margin-left:50px;
}

}

@keyframes bounce_html5sync_loading{
0%{
margin-left:-50px;
}

100%{
margin-left:50px;
}

}
