body{
    font-size: 0.8em;
}
#html5sync_debug{
    background: black;
    bottom: 10px;
    color: yellow;
    font-size: 11px;
    max-height: 300px;
    max-width: 700px;
    overflow: auto;
    padding: 5px;
    position: absolute;
    right: 10px;
}